@import "tailwindcss";
@import "@splidejs/react-splide/css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #10141e;
}

.bxs-star {
  color: rgb(255, 213, 0);
}

.bxs-bookmark {
  color: #bfbfbf;
  font-size: 24px;
}

.splide {
  height: fit-content;
}

.splide__pagination {
  counter-reset: pagination-num;
  position: static !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  gap: 3px;
}

.currently-trending-slider .splide__pagination__page:before {
  content: "";
}

.currently-trending-slider .splide__pagination__page {
  width: 10px;
  height: 10px;
}

.currently-trending-slider .splide__pagination {
  margin: 0;
  gap: 1px;
}

.splide__pagination__page {
  width: 30px;
  height: 30px;
  border-radius: none;
}

.splide__pagination__page.is-active {
  background-color: #fc4747;
}

.splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter(pagination-num);
}

/* .splide__arrows splide__arrows--ltr {
  position: static !important;
}

.splide__arrow splide__arrow--prev {
  position: static !important;
}

.splide__arrow splide__arrow--next {
  position: static !important;
} */
